.loader-19 {
  .loader {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #b71c1c;
    border-radius: 50%;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: rotate-19 900ms ease infinite;
    animation: rotate-19 900ms ease infinite;

    div {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 18px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      &::before,
      &::after {
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #f1f2f3;
        margin: 0;
        position: relative;
      }

      &::before {
        top: 0;
        left: 0;
      }

      &::after {
        bottom: -8px;
        right: -16px;
      }

      &:last-child {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }

  @keyframes rotate-19 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    50% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }

    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
}
