.loader-10 {
  .loader {
    display: block;
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 50%;
    position: relative;
    border: 3px solid #ffc107;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    -webkit-animation: rotate-10 500ms ease-in-out infinite;
    animation: rotate-10 500ms ease-in-out infinite;
  }

  @-webkit-keyframes rotate-10 {
    0% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
    }

    100% {
      -webkit-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
    }
  }

  @keyframes rotate-10 {
    0% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
    }

    100% {
      -webkit-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
    }
  }
}
